* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(150deg, rgb(0, 36, 81), rgb(73, 149, 211));
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -75px;
}

.logo img {
  width: 500px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  padding: 20px;
  max-width: 90%;
  margin: 20px auto;
}

.button {
  background-color: white;
  color: black;
  border: none;
  padding: 15px;
  width: 120px;
  height: 120px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.button:hover {
  transform: scale(1.05);
}

.button img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.whatsapp-button img {
  width: 120px;
  height: 120px;
}

@media (max-width: 768px) {
  .logo img {
    width: 300px;
    margin-top: 20px;
  }

  .button-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .button {
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 12px;
  }

  .button img {
    width: 60px;
    height: 60px;
  }

  .whatsapp-button {
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
  }

  .whatsapp-button img {
    width: 80px;
    height: 80px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

body {
  background-attachment: fixed;
}
